<!DOCTYPE html>
<html lang="en">
<head>
<title>LSLDC COLO Access Request App | UMass Amherst</title>
{% load static %}
<link rel="stylesheet" href="{% static 'requestApp/styles.css'%}">
<link rel="icon"  href="http://www.umass.edu/favicon.ico" type="image/x-icon">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static "requestApp/jquery2.js" %}"></script>
<!-- SCRIPT FOR RETURN TO TOP BUTTON -->
<script>
	// When the user scrolls down 700px from the top of the document, show the button
	window.onscroll = function(){scrollFunction()};

	function scrollFunction() {
    	if (document.body.scrollTop > 700 || document.documentElement.scrollTop > 700) {
     	   document.getElementById("myBtn").style.display = "block";
    	} else {
        	document.getElementById("myBtn").style.display = "none";
    	}
    	}
    	
    function topFunction() {
    	document.body.scrollTop = 0;
    	document.documentElement.scrollTop = 0;
	}
</script>
<style>
input {
	float: left;
	padding-left: 20px;
	width: 75%;
	height: 25px;
}

/* STYLE FOR RETURN TO TOP BOTTOM */	
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #F3F3F3;
  color: black;
  font-size: 15px;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid black;
}

#myBtn:hover {
  transition: background 0.15s linear;
  background-color: #AAAAAA;
 }
</style>
{% load static %}
</head>


<body>
<div class="data" id="data">
<h1> UMass Amherst LSLDC COLO Request Control Panel</h1>

<!-- HEADER FOR COLO MANAGER OPTIONS -->
<center>
<h3>{{ new_requests | length }} new request(s). To date there have been {{ requests | length }} total requests. </h3>
<button onclick="topFunction()" id="myBtn" title="Go to top">Return to Top</button>
<button id="btnExport" class="button button3"> Export Pending Requests to Excel </button>
<button id="btnExportApproved" class="button button3"> Export Approved Requests to Excel </button>
</center>

<hr>
<h1> LSLDC COLO Pending Requests</h1>
<!-- DISPLAY TABLE WITH DATABASE PENDING USERS -->
<div id= "table" style="overflow-x:auto;">
	{% if new_requests %}
	<table style="height 5px;">
	<tr>
		<th> Employee Name </th>
		<th> Employee Email</th>
		<th> Employee Phone </th>
		<th> Reason </th>
		<th> Employee UCARD </th>
		<th> Manager </th>
		<th> Manager Email </th>
		<th> Employee Department </th>
		<th> Request Time </th>
		<th> Tracking Number </th>
		<th>Manager Approved</th>
	
	{% for COLOUser in requests %}
	<tr>
		{% if not COLOUser.COLO_approved %}
			<td> {{ COLOUser.name }} </td>
			<td> {{ COLOUser.email }} </td>
			<td> {{ COLOUser.phone }} </td>
			<td> {{ COLOUser.reason }} </td>
			<td> {{ COLOUser.UCard_ID }} </td>
			<td> {{ COLOUser.manager }} </td>
			<td> {{ COLOUser.man_email }} </td>
			<td> {{ COLOUser.dep }} </td>
			<td> {{ COLOUser.time }} </td>
			<td> {{ COLOUser.tracker }} </td>
			<td> {{ COLOUser.man_approved }}</td>
  			{% endif %}
	{% endfor %}
	</table>
	{% else %}
		<h2><i> No pending requests</i></h2>
	{% endif %}
<hr>
</div>
<div class="approve">	
<center><form method="post">
	{% csrf_token %}
	{{ form.as_p }} 
	<button class="button button2" name= "approve" type="submit">Approve</button></center>
</form>
</div>
<!--<p><i><center> Requests should not be approved until they obtain Managerial approval</p></i></center>-->

<hr>
<!-- DISPLAY TABLE WITH DATABASE APPROVED USERS -->
<h1> LSLDC COLO Approved Requests</h1>
	<div id="table2" style="overflow-x:auto;">
	{% if approved_requests %}
	<table>
	<tr>
		<th> Employee Name </th>
		<th> Employee Email</th>
		<th> Employee Phone </th>
		<th> Reason </th>
		<th> Employee UCARD </th>
		<th> Manager </th>
		<th> Manager Email </th>
		<th> Employee Department </th>
		<th> Request Time </th>
		<th> Tracking Number </th>
		<th> Manager Approved </th>

	{% for COLOUser in requests %}
		{% if COLOUser.COLO_approved %}
			<tr>
			<td> {{ COLOUser.name }} </td>
			<td> {{ COLOUser.email }} </td>
			<td> {{ COLOUser.phone }} </td>
			<td> {{ COLOUser.reason }} </td>
			<td> {{ COLOUser.UCard_ID}} </td>
			<td> {{ COLOUser.manager }} </td>
			<td> {{ COLOUser.man_email }} </td>
			<td> {{ COLOUser.dep }} </td>
			<td> {{ COLOUser.time }} </td>
			<td> {{ COLOUser.tracker }} </td>
			<td> {{ COLOUser.man_approved }}</td>
		{% endif %}
	{% endfor %}
	</table>
	{% else %}
		<h2> No approved requests </h2>
	{% endif %}
</div>

<div class="remove">	
<center><form method="post">
{% csrf_token %}
{{ form2.as_p }}
<button class="button button2" name= "remove" type="submit"> Remove</button></center>
</form>
</div>
<p><i><center>
WARNING: Once requests are removed, they will have to be re-entered to be approved </p></i></center>
</div>

<div class="footer">
This site is maintained by the <a href="http://umass.edu/it/">UMass Amherst Information Technology</a>.<br/>
Copyright &copy; <script>document.write( (new Date()).getFullYear() );</script>. University of Massachusetts Amherst. <a href="http://umass.edu/umhome/policies.html">Site Policies</a>
</div>
<h1 style="color:white; font-size:40px;">LOCAL VERSION</h1>

</body>
</html>
