{% autoescape off %}
To Mark Harrison - mharrison@facil.umass.edu

There is a new request for access inside the LSL2 Building. Please approve the following request in the CCURE application.

Name: {{ user.name }} 
Request: {{ user.reason }}
UCard ID: {{ user.UCard_ID }}

Once complete, please provide the accompanying ISO # to John Kiernan: jpkiernan@umass.edu
 
Thank you,
University of Massachusetts Amherst IT

Reference tracking number:{{ user.tracker }}
This is an automated message - please do not reply directly to this Email.
{% endautoescape %}
