<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<title>LSLDC COLO Access Request App | UMass Amherst</title>
	<link rel="stylesheet" href="{% static 'requestApp/styles.css'%}">
	<link rel="icon"  href="http://www.umass.edu/favicon.ico" type="image/x-icon">
	<style>
	div.page {
		height: 300px;
	}
	</style>
</head>

<body>
<div class="page">
<h1>UMass Amherst LSLDC COLO Access Request App</h1>
<hr>
<h1> Manager Request Denied </h1>

<h2> The request has been deleted. No further action is needed </h2>
</div>
<h1 style="color:white; font-size:40px;">LOCAL VERSION</h1>

</body>
</html>
